// Импорт модулей
@use './variables' as *;
@use './mixins' as *;
@use './reset' as *;
@use './animations' as *;

// Базовые стили
@use './base' as *;

// Компоненты
@use './components/container' as *;
@use './components/header' as *;
@use './components/main' as *;
@use './components/sidebar' as *;
@use './components/filter-btn' as *;
@use './components/courses' as *;
@use './components/course-card' as *;
@use './components/footer' as *;
