@use '../mixins' as *;

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;

    @include tablet {
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 16px;
    }
}

.container--fluid {
    max-width: 100%;
}

.container--narrow {
    max-width: 800px;
}

.container--wide {
    max-width: 1600px;
}