@use '../variables' as *;
@use '../mixins' as *;

.filter-btn {
    padding: 10px 30px;
    border-radius: $radius-sm;
    background: $white;
    position: relative;
    color: $gray-600;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    cursor: pointer;
    text-align: left;
    @include transition-base;
    display: flex;
    align-items: center;
    gap: 12px;

    &:hover {
        color: $gray-900;
    }

    &:focus {
        outline: none;
        border: 1px solid $primary-color;
    }

    &--active {
               color: $primary-color;
                
    }

    &__badge {
        position: absolute;
        font-size: 10px;
        right:16px;
        top:5px;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
       
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            border-color: $border-color;
            color: $secondary-color;
        }
    }
}