.main {
    padding: $spacing-2xl 0;
    display: flex;

    &__container {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
        
    }

    &--no-padding {
        padding: 0;
    }

    &--small-padding {
        padding: $spacing-xl 0;
    }
}